<div *ngIf="foreCastData">
    <div class="header">Next Hours</div>
    <li class="forecast-container" *ngFor="let day of foreCastData.list.slice(0,4)">
        <app-forecast [humidity]="day.main.humidity" [temparature]="day.main.temp" [time]="day.dt_txt.slice(5,16)"
            [iconName]="day.weather[0].icon"></app-forecast>
    </li>

    <div class="header">Next 5 days</div>
    <div class="forecast-detail-container" *ngFor="let day of getForecastDayData()">
        <app-forecast-detail [description]="getDayDescription(day.date)" [minTemparature]="day.min"
            [maxTemparature]="day.max" [time]="day.date" [day]="getDay(day.date)"
            [iconName]="getDayImage(day.date)"></app-forecast-detail>
    </div>
</div>