<ul *ngIf="ForecastData">
    <h1>Next Hours</h1>
    <li class="forecast-container" *ngFor="let day of ForecastData.list.slice(0,5)">
        <app-forecast [humidity]="day.main.humidity" [temparature]="day.main.temp" [time]="day.dt_txt.slice(5,16)"
            [iconName]="day.weather[0].icon"></app-forecast>
    </li>

    <h1>later Hours</h1>
    <li class="forecast-container" *ngFor="let day of ForecastData.list.slice(5,15)">
        <app-forecast [humidity]="day.main.humidity" [temparature]="day.main.temp" [time]="day.dt_txt.slice(5,16)"
            [iconName]="day.weather[0].icon"></app-forecast>
    </li>
</ul>