<div class="container">
    <div class="header">Simple Weather</div>
    <input class="search" type="text" placeholder="search for a city" (keyup.enter)="setCity($event)">
    <ul>
        <li class="city" *ngFor="let city of cities">
            <app-tab-header [DisplayName]="city" [selected]="city == selectedCity"
                (OnHeaderSelected)="OnHeaderSelected($event)"></app-tab-header>
        </li>
    </ul>
    <div class="content">
        <app-tab-content [ForecastData]="ForecastData"></app-tab-content>
    </div>
</div>